<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">

                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Iniciar Sesion</h1>
                  </div>


                 <form class="user" th:action="@{/login}" method="post">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" name="correo" id="idCuentaIniciarSesion" aria-describedby="cuenta" placeholder="Cuenta">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user"  name="password" id="idContraseniaIniciarSesion" placeholder="Contrasenia">
                    </div>
                    <br>
                    <div id="mensaje">
					    	<p th:text="${mensaje}" style="color:#FF0000" ></p>
				    </div>
                      <input type="submit" class="btn btn-primary btn-user btn-block" value="Iniciar"/>
			    </form>

                  <hr>
                  
                  <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Crear Cuenta</h1>
                  </div>
                  
                 <form class="user" th:action="@{/crearCuenta}" method="post">
                   
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" name="nombre" id="idCuentaCrearCuenta" aria-describedby="cuenta" placeholder="Nombre">
                    </div>
                   
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" name="apellidos" id="idCuentaCrearCuenta" aria-describedby="cuenta" placeholder="Apellidos">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" name="correo" id="idemailCrearCuenta" aria-describedby="cuenta" placeholder="Correo">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" name="password" id="idContraseniaCrearCuenta" placeholder="Contrasenia">
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Crear cuenta"/>
			    </form>
                  
                    
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
